.theme-light {
  --primary:#fff;
  --secondary:#fafafa;
  --accent:#54c75b;
  --accent-header:rgb(75, 230, 157);
  --accent-fade:aquamarine;
  --font-color:#000;
  --header:transparent;
}

.theme-dark {
  --primary:#121212;
  --secondary:#1A1A1A;
  --accent:#54c75b;
  --accent-fade:#282c34;
  --font-color:#fff;
  --header:#121212;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialised;
  font-family: "Nunito", sans-serif;
  color: var(--secondary);
}

.main-header {
  background-color: var(--header);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  -webkit-box-shadow: 0 5px 8px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 5px 8px 0 rgba(31, 38, 135, 0.37);
}

header {
  height: 10vh;
  width: 100%;
  background-color: var(--header);
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  font-size: x-large;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li {
  margin-left: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--font-color);
}

header nav ul li select {
  padding: 5px 8px;
  outline: none;
}

.curved {
  height: 80vh;
  background-color: var(--accent-fade);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
  overflow: hidden;
}

.curved .searchbar {
  margin-top: 5rem;
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.curved .searchbar input {
  padding: 10px 16px;
  width: 450px;
  border-radius: 8px;
  border: 1px solid black;
  outline: none;
  font-size: medium;
}

.circle-box {
  width: 100%;
  height: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 40vh;
}

.circle-box .circle {
  height: 350px;
  width: 550px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0.5rem;
}

.circle-box .circle img {
  height: 100%;
  width: 100%;
}

footer {
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--accent-fade);
}

footer span {
  color: var(--font-color);
}
/*# sourceMappingURL=style.css.map */